/* @font-face {
    font-family: 'Play';
    src: url('/Front/Fonts/Play-Bold.ttf') format('truetype')
} */

@media print {
    .main-menu {
      display: none !important;
      visibility: hidden !important;;;
    }

    .main-content{
        grid-row: 1 / -1 !important;
        grid-column: 1 / -1 !important;
    }

    .footer{
        display: none !important;
        visibility: hidden !important;; 
      }
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
}

h1, h2,h3, h4, h5, h6{
    margin: 0px;
}

input:focus, textarea:focus{
    outline:none;
}

a{
    text-decoration: none;
}

hr {
    margin-left: 0;
    margin-right: 0;
  }

.hidden {
    display: none !important;
  }

.container{
   display: grid;
   grid-template-rows:  9fr 9fr 1fr;
   grid-template-columns:  2fr 6fr 6fr;
   background-color: #d9d9d9;
}

.red-border{
    border-color: red;
}

.red-color{
    color: red;
}

/* menu */

.main-menu{
    background-color: #1d4775;
    color: white;
    grid-row: 1 / -1;
    grid-column: 1 / 2;

    /* padding: 0vw 2vh 1vw 2vh; */
    display: flex;
    flex-direction: column;
}

.main-menu a{
    color: white;
    text-decoration: none;
}

.menu-logo{
    font-family: "Play", Times, serif;
    border-color: white;
    border-bottom: 3px solid white;
    text-align: center;
    padding: 1vw;
    margin: 1vw;
}

.menu-item-name{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.menu-item-name i{
    padding-right: 10px;
}

.menu-item :hover, .menu-item-collapsible :hover{
    color: white;
    background-color: #86abd3;
}

.menu-subitem{
    color: #86abd3;
    padding: 10px 0 10px 30px;
}

.menu-subitem:hover{
    color: white;
    background-color: #86abd3;
}


.main-content{
    position: relative;
    background-color:  #d9d9d9;
    grid-row: 1 / 3;
    grid-column: 2 / -1;
}

/* About */

.about{
    background-color: white;
    margin:  20px;
    border-radius: 30px;
    padding: 30px;
}

.about h1{
    text-align: center;
}

.about h3{
    padding: 15px 5px;
}

.about p{
    text-align: justify;
}

.about ul{
    list-style-type: circle;
    margin: 0px;
}

.about ol{
    display: flex;
    flex-direction: row;
    list-style-type: upper-roman;
    list-style-position:inside;
    margin: 0px;
}

.about ol li{
    padding-left: 10px;
}

.about img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.about table{
    font-size: 30px;
    border-collapse: collapse;
}

.about th {
    padding: 12px;
    text-align: center;
    background-color: #1d4775;
    color: white;
}

.about td{
    text-align: center;
    padding: 8px;
}

.about .name-col{
    text-align: left;
}

.about tr:nth-child(even){background-color: #f2f2f2;}

.about tr:hover {background-color: #ddd;}

.about table a{
    background-color: #1d4775;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
}

.footer{
    text-align: center;
    background-color:  black;
    color: white;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}

#contact{
    background-color: white;
    margin:  20px auto;
    border-radius: 30px;
    padding: 30px;
    font-size: 20px;
    max-width: 150ex;
}

#contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact label{
    padding-top: 10px;
    font-weight: bold;
}

#contact input{
    font-size: 20px;
    max-width: 30ex;
}

#contact textarea{
    font-size: 20px;
    max-width:  80ex;
    height:  8em;
}

#contact #submit{
    margin-top: 2em;
    padding: 6px;
    background-color:#1d4775;
    color: white;
    max-width: 10em;
}